---
title: System Verification
---

[Home](/index.md) | [Team organization](/Team_organization.md) | [User Needs, Benchmarking, and Requirements](/User_Needs_Benchmarking_Requirements.md) | [Design Ideation](/Design_Ideation.md) | [Final Selected Design](/Selected_Design.md) 
[Final Block Diagram](/Block_Diagram_of_the_product.md) | [Final Component Selection](/Component_Selection.md) | [Microcontroller Selection](/Microcontroller_Selection.md) | [Final Hardware Implimentation](/Final_Hardware_Implementation.md) | [Final Software Implimentation](/Software_Proposal.md) | [System Verification](/System_Verification.md) | [Lessons Learned](/Lessons_Learned.md) | [Recommendations for future students](/Recommendations_for_future_students.md)

# System Verification

![Team 303 Verification](https://github.com/EGR314-Spring2024-Team303/EGR314-Spring2024-Team303.github.io/assets/156718379/d36138da-08fd-4d98-a846-f7823ca41dd0)




In our project, which incorporates a motor driver, 3.3V regulator, temperature sensor, and air pressure sensor, we've established a comprehensive System Verification Table to ensure the functionality and reliability of each component. we have  conducted functional testing for the motor driver and verified the stability of the 3.3V regulator output under various load conditions according to our requirements. The temperature sensor has undergone calibration, with readings consistently falling within the specified accuracy range. Similarly, the air pressure sensor has been calibrated, providing accurate pressure readings. Once the table is completed, Integration testing is done  where all components will be tested together according to our specifications. 

[Appendix A](/Appendix_A.md) | [Appendix B](/Appendix_B.md) | [Appendix C](/Appendix_C.md) | [Appendix D](/Appendix_D.md)
